<div class="row">
  <div class="col-md-12">
    
    <div class="jumbotron bgcolor-border">
    
      <h1><span class="glyphicon glyphicon-stats color-accent"></span> Blocmetrics</h1>
      <p class="color-accent">The visual analytics tool for deciphering your web traffic.</p>
      
    </div>
    
  </div>
</div>
