@import "bootstrap-sprockets";
@import "bootstrap";

// Margins, padding, and positioning

.margin-navbar {
  margin: 5px 0;
}
.nudge-down-5 {
  position: relative;
  top: 5px;
}
.nudge-down-2 {
  position: relative;
  top: 2px;
}
.nudge-left-10 {
  position: relative;
  left: -10px;
}
.margin-row {
  margin-left: 0;
  margin-right: 0;
}
.td-adjust {
  position: relative;
  top: 6px;
}

// Colors

.bgcolor-border {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: cornsilk;
}

.color-accent {
  color: slategray;
}

// Sizing

.width-25 {
  width: 25%;
}
.width-50 {
  width: 50%;
}